$phone-from:        300px;
$phone-to:          767px;
$tablet-portrait:   768px;
$tablet-landscape:  900px;
$desktop:           1260px;

$wrapper:           1180px;


$_148:        148px;
$_78:         78px;
$_68:         68px;
$_64:         64px;
$_60:         60px;
$_56:         56px;
$_52:         52px;
$_48:         48px;
$_40:         40px;
$_36:         36px;
$_32:         32px;
$_28:         28px;
$_24:         24px;
$_20:         20px;
$_18:         18px;
$_16:         16px;
$_14:         14px;
$_12:         12px;
$_10:         10px;
$_8:           8px;
$_6:           6px;
$_4:           4px;


$bd-radius:         5px;
