body, html {
  height: 100%;

  font-size: 14px;
  font-family: "Trebuchet MS", Arial, "Helvetica Neue", Helvetica, sans-serif;

  line-height: 150%;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}
